header
{
    width: 980px;
    height: 100px;
    background-color: rgba(241,241,75,0.9);
    border-radius: 10px;
    margin: auto;
}

header h1
{
    text-align: center;
    padding-top: 25px;
}

section
{
    text-align: center;
}

section button
{
    width: 700px;
    text-align: center;
    margin-top: 10px;
}

section div
{
    width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}